<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Vagrant Assignment">
	<parameter name="expectedPlayersCount" value="4" />
	<parameter name="expectedKeepersCount" value="1" />
	<test name="RCB Team Test">
		<classes>
			<class name="com.testvagrantassignment.test.RCBTeamResults" />
		</classes>
	</test>
</suite> <!-- Suite -->